
body {
   /* text-align: center;  */
 }
h1 {
  color: blue;
}
h2 {
  color: rgb(64, 64, 241);
}
.appointments {
   /* text-align: center;  */
 }
table {
 /* text-align: center;  */
 border-collapse: collapse;
 }
 form {
   display: flex;
   flex-direction: column;
   min-width: 500px;
 }
 .inputData {
   font-size: 10pt;
   padding: 5px;
   min-width: 500px;
 }
 .submitBtn {
   color: blue;
   font-weight: 20px;
   margin: 12px;
 }
 label {
   font-weight: 500;
   margin-top: 15px;
 }
.bordered {
  border-bottom: 1px solid rgb(188, 189, 190);
  line-height: 2em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-color: blue;
  margin: 20px;
}
.container-mainContent {
  display: flex;
  flex-direction: column;
  border-color: blue;
  margin: 20px;
}

.card-content {
  border: 1px solid lightgray;
  margin: 20px;
  -webkit-box-shadow: 3px 3px 4px -3px #62617c;
  box-shadow:  3px 3px 4px -3px #62617c;
  padding: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  margin: 20px;
  padding: 20px;
}
.sidebar {
  max-width: 240px;
  height: 100px;;
  
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.menu-label {
  font-size: 18px;
  font-weight: 600;
}