@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
.container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(87, 121, 9, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
}

.nav-bar {
  height: 300px;
  padding: 20px;
}
span {
  color: white;
  padding: 20px;
  font-size: 30px;
  font-family: "Russo One", sans-serif;
}

.cards {
  display: flex;
  justify-content: center;
}
